/* login */

#card{
    border: 2px solid black;
    border-radius: 20px;
    background-color: #e2e2e7;
}
#body-1{
    /* background: rgb(150, 66, 230); */
    background-image: url(img/bg.jpg);
}

.show{
    display: block;
}
.hide{
    display: none;
}